* {
    background-color: black;
    margin: 0;
}

/* ------------------------------------------------------------------------------- */

header {
/* ------------------------------------------*/
    height: 8.5vh;
/* ------------------------------------------*/
    display: flex;
    justify-content: space-between;
    align-items: center;
/* ------------------------------------------*/
    border-bottom: 0.4vh solid white;
/* ------------------------------------------*/

}

.Logo {
/* ------------------------------------------*/
    height: 8.5vh;
/* ------------------------------------------*/
}

.Menu {
/* ------------------------------------------*/
    width: 57.2vw;
/* ------------------------------------------*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2vw;
/* ------------------------------------------*/
}

.titulo {
    width: 19vw;
    height: 5vh;
/* ------------------------------------------*/
    display: flex;
    justify-content: center;
    align-items: center;
/* ------------------------------------------*/
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 4vh;
/* ------------------------------------------*/
    border-left: 0.4vh solid white ;
    cursor: pointer;
}

.titulo {
/* ------------------------------------------*/
    width: 19vw;
/* ------------------------------------------*/
    min-height: 6vh; /* aumentei um pouco para acomodar o span */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/* ------------------------------------------*/
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 4vh;
/* ------------------------------------------*/
    border-left: 0.4vh solid white;
    cursor: pointer;
    position: relative;
/* ------------------------------------------*/
}
    
.linha {
/* ------------------------------------------*/
    display: block;
    width: 30%; /* controle da largura da linha */
    height: 0.3vh;
    margin-top: 0.3vh;
    background-color: transparent;
    transition: background-color 0.3s ease;
/* ------------------------------------------*/
}
    
.titulo:hover .linha {
/* ------------------------------------------*/
    background-color: white;
/* ------------------------------------------*/
}


#none {
    border-left: none;
} 


.botao_titulo {
    height: 5vh;
/* ------------------------------------------*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    padding: 0.8vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
/* ------------------------------------------*/
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 4vh;
/* ------------------------------------------*/
    border: 0.3vh solid white ;
    border-radius: 1vh;
    cursor: pointer;
}


.botao_titulo:hover {
/* ------------------------------------------*/
    background-color: rgba(255, 255, 255, 0.877);
    color: black;
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
}

/* ------------------------------------------------------------------------------- */

.astronauta_1 img{
/* ------------------------------------------*/
    width: 12vw;
/* ------------------------------------------*/
    margin-left: 6vw;
    margin-top: 1vh;
    float: left;
}

.hello_world img{
/* ------------------------------------------*/
    width: 30vw;
/* ------------------------------------------*/
    margin-top: 7vh;
}

.hello_world {
    z-index: 1;
}

.nome {
/* ------------------------------------------*/
    clear: both;
    z-index: 0;
}

.nome img {
/* ------------------------------------------*/
    width: 50vw;
/* ------------------------------------------*/
    margin-left: 8vw;
    margin-top: 0.5vh;
}